{% extends 'base.html' %} {% load static %} {% block content %}

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.1/echarts.min.js"></script>
<script src="{% static 'js/RepartoSimple.js' %}"></script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>

<div class="main" style="padding-left: 5%; padding-bottom: 100px">
  <h2>Reparto simple</h2>

  <div class="row" style="padding-bottom: 20px; padding-top: 20px">
    <div class="col-sm-6">
      <a
        href="{% url  'DescargarRepartoSimple'%}"
        class="btn btn-success"
        style="float: left"
        >Descargar</a
      >
    </div>
  </div>

  <p class="parrafo">
    En el modelo de financiamiento de reparto simple, se busca lograr un
    equilibrio financiero en un período anual a través de una tasa de
    cotización, representada como \(\alpha\), de manera que $$\alpha\sum
    \text{masa salarial} = \sum \text{beneficios}$$.
  </p>
  <p class="parrafo">
    Este enfoque fundamental asegura tanto la sostenibilidad a largo plazo como
    la equidad en la distribución de beneficios, fomentando la solidaridad
    intergeneracional. Para lograr este equilibrio, se operan bajo dos supuestos
    clave: la población se mantiene estable en términos demográficos y los
    salarios permanecen constantes a lo largo del período considerado.
  </p>

  <p class="parrafo" style="color: red">
    Si deseas revisar la metodoogía de cálculo de los beneficios, puedes
    descargar el archivo del modelo.
  </p>

  <table
    class="table table-striped"
    style="width: 90%; overflow-x: auto; display: block"
    id="tabla_pensionistas"
  >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        <th scope="col">10</th>
        <th scope="col">11</th>
        <th scope="col">12</th>
        <th scope="col">13</th>
        <th scope="col">14</th>
        <th scope="col">15</th>
        <th scope="col">16</th>
        <th scope="col">17</th>
        <th scope="col">18</th>
        <th scope="col">19</th>
        <th scope="col">20</th>
        <th scope="col">21</th>
        <th scope="col">22</th>
        <th scope="col">23</th>
        <th scope="col">24</th>
        <th scope="col">25</th>
        <th scope="col">26</th>
        <th scope="col">27</th>
        <th scope="col">28</th>
        <th scope="col">29</th>
        <th scope="col">30</th>
        <th scope="col">31</th>
        <th scope="col">32</th>
        <th scope="col">33</th>
        <th scope="col">34</th>
        <th scope="col">35</th>
        <th scope="col">36</th>
        <th scope="col">37</th>
        <th scope="col">38</th>
        <th scope="col">39</th>
        <th scope="col">40</th>
        <th scope="col">41</th>
        <th scope="col">42</th>
        <th scope="col">43</th>
        <th scope="col">44</th>
        <th scope="col">45</th>
        <th scope="col">46</th>
        <th scope="col">47</th>
        <th scope="col">48</th>
        <th scope="col">49</th>
        <th scope="col">50</th>
      </tr>
    </thead>
    <tbody>
      {% for fila in json_resumen %}
      <tr>
        <th scope="row">{{ fila.Descripcion}}</th>
        <td>{{ fila.1 }}</td>
        <td>{{ fila.2 }}</td>
        <td>{{ fila.3 }}</td>
        <td>{{ fila.4 }}</td>
        <td>{{ fila.5 }}</td>
        <td>{{ fila.6 }}</td>
        <td>{{ fila.7 }}</td>
        <td>{{ fila.8 }}</td>
        <td>{{ fila.9 }}</td>
        <td>{{ fila.10 }}</td>
        <td>{{ fila.11 }}</td>
        <td>{{ fila.12 }}</td>
        <td>{{ fila.13 }}</td>
        <td>{{ fila.14 }}</td>
        <td>{{ fila.15 }}</td>
        <td>{{ fila.16 }}</td>
        <td>{{ fila.17 }}</td>
        <td>{{ fila.18 }}</td>
        <td>{{ fila.19 }}</td>
        <td>{{ fila.20 }}</td>
        <td>{{ fila.21 }}</td>
        <td>{{ fila.22 }}</td>
        <td>{{ fila.23 }}</td>
        <td>{{ fila.24 }}</td>
        <td>{{ fila.25 }}</td>
        <td>{{ fila.26 }}</td>
        <td>{{ fila.27 }}</td>
        <td>{{ fila.28 }}</td>
        <td>{{ fila.29 }}</td>
        <td>{{ fila.30 }}</td>
        <td>{{ fila.31 }}</td>
        <td>{{ fila.32 }}</td>
        <td>{{ fila.33 }}</td>
        <td>{{ fila.34 }}</td>
        <td>{{ fila.35 }}</td>
        <td>{{ fila.36 }}</td>
        <td>{{ fila.37 }}</td>
        <td>{{ fila.38 }}</td>
        <td>{{ fila.39 }}</td>
        <td>{{ fila.40 }}</td>
        <td>{{ fila.41 }}</td>
        <td>{{ fila.42 }}</td>
        <td>{{ fila.43 }}</td>
        <td>{{ fila.44 }}</td>
        <td>{{ fila.45 }}</td>
        <td>{{ fila.46 }}</td>
        <td>{{ fila.47 }}</td>
        <td>{{ fila.48 }}</td>
        <td>{{ fila.49 }}</td>
        <td>{{ fila.50 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Gastos por pensiones</h3>

  <table
    class="table table-striped"
    style="width: 90%; overflow-x: auto; display: block"
    id="tabla_pensionistas"
  >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        <th scope="col">10</th>
        <th scope="col">11</th>
        <th scope="col">12</th>
        <th scope="col">13</th>
        <th scope="col">14</th>
        <th scope="col">15</th>
        <th scope="col">16</th>
        <th scope="col">17</th>
        <th scope="col">18</th>
        <th scope="col">19</th>
        <th scope="col">20</th>
        <th scope="col">21</th>
        <th scope="col">22</th>
        <th scope="col">23</th>
        <th scope="col">24</th>
        <th scope="col">25</th>
        <th scope="col">26</th>
        <th scope="col">27</th>
        <th scope="col">28</th>
        <th scope="col">29</th>
        <th scope="col">30</th>
        <th scope="col">31</th>
        <th scope="col">32</th>
        <th scope="col">33</th>
        <th scope="col">34</th>
        <th scope="col">35</th>
        <th scope="col">36</th>
        <th scope="col">37</th>
        <th scope="col">38</th>
        <th scope="col">39</th>
        <th scope="col">40</th>
        <th scope="col">41</th>
        <th scope="col">42</th>
        <th scope="col">43</th>
        <th scope="col">44</th>
        <th scope="col">45</th>
        <th scope="col">46</th>
        <th scope="col">47</th>
        <th scope="col">48</th>
        <th scope="col">49</th>
        <th scope="col">50</th>
      </tr>
    </thead>
    <tbody>
      {% for fila in json_gasto %}
      <tr>
        <th scope="row">{{ fila.Descripcion}}</th>
        <td>{{ fila.1 }}</td>
        <td>{{ fila.2 }}</td>
        <td>{{ fila.3 }}</td>
        <td>{{ fila.4 }}</td>
        <td>{{ fila.5 }}</td>
        <td>{{ fila.6 }}</td>
        <td>{{ fila.7 }}</td>
        <td>{{ fila.8 }}</td>
        <td>{{ fila.9 }}</td>
        <td>{{ fila.10 }}</td>
        <td>{{ fila.11 }}</td>
        <td>{{ fila.12 }}</td>
        <td>{{ fila.13 }}</td>
        <td>{{ fila.14 }}</td>
        <td>{{ fila.15 }}</td>
        <td>{{ fila.16 }}</td>
        <td>{{ fila.17 }}</td>
        <td>{{ fila.18 }}</td>
        <td>{{ fila.19 }}</td>
        <td>{{ fila.20 }}</td>
        <td>{{ fila.21 }}</td>
        <td>{{ fila.22 }}</td>
        <td>{{ fila.23 }}</td>
        <td>{{ fila.24 }}</td>
        <td>{{ fila.25 }}</td>
        <td>{{ fila.26 }}</td>
        <td>{{ fila.27 }}</td>
        <td>{{ fila.28 }}</td>
        <td>{{ fila.29 }}</td>
        <td>{{ fila.30 }}</td>
        <td>{{ fila.31 }}</td>
        <td>{{ fila.32 }}</td>
        <td>{{ fila.33 }}</td>
        <td>{{ fila.34 }}</td>
        <td>{{ fila.35 }}</td>
        <td>{{ fila.36 }}</td>
        <td>{{ fila.37 }}</td>
        <td>{{ fila.38 }}</td>
        <td>{{ fila.39 }}</td>
        <td>{{ fila.40 }}</td>
        <td>{{ fila.41 }}</td>
        <td>{{ fila.42 }}</td>
        <td>{{ fila.43 }}</td>
        <td>{{ fila.44 }}</td>
        <td>{{ fila.45 }}</td>
        <td>{{ fila.46 }}</td>
        <td>{{ fila.47 }}</td>
        <td>{{ fila.48 }}</td>
        <td>{{ fila.49 }}</td>
        <td>{{ fila.50 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Tasas de cotización</h3>

  <table
    class="table table-striped"
    style="width: 90%; overflow-x: auto; display: block"
    id="tabla_pensionistas"
  >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        <th scope="col">10</th>
        <th scope="col">11</th>
        <th scope="col">12</th>
        <th scope="col">13</th>
        <th scope="col">14</th>
        <th scope="col">15</th>
        <th scope="col">16</th>
        <th scope="col">17</th>
        <th scope="col">18</th>
        <th scope="col">19</th>
        <th scope="col">20</th>
        <th scope="col">21</th>
        <th scope="col">22</th>
        <th scope="col">23</th>
        <th scope="col">24</th>
        <th scope="col">25</th>
        <th scope="col">26</th>
        <th scope="col">27</th>
        <th scope="col">28</th>
        <th scope="col">29</th>
        <th scope="col">30</th>
        <th scope="col">31</th>
        <th scope="col">32</th>
        <th scope="col">33</th>
        <th scope="col">34</th>
        <th scope="col">35</th>
        <th scope="col">36</th>
        <th scope="col">37</th>
        <th scope="col">38</th>
        <th scope="col">39</th>
        <th scope="col">40</th>
        <th scope="col">41</th>
        <th scope="col">42</th>
        <th scope="col">43</th>
        <th scope="col">44</th>
        <th scope="col">45</th>
        <th scope="col">46</th>
        <th scope="col">47</th>
        <th scope="col">48</th>
        <th scope="col">49</th>
        <th scope="col">50</th>
      </tr>
    </thead>
    <tbody>
      {% for fila in json_tasas %}
      <tr>
        <th scope="row">{{ fila.Descripcion}}</th>
        <td>{{ fila.1 }}</td>
        <td>{{ fila.2 }}</td>
        <td>{{ fila.3 }}</td>
        <td>{{ fila.4 }}</td>
        <td>{{ fila.5 }}</td>
        <td>{{ fila.6 }}</td>
        <td>{{ fila.7 }}</td>
        <td>{{ fila.8 }}</td>
        <td>{{ fila.9 }}</td>
        <td>{{ fila.10 }}</td>
        <td>{{ fila.11 }}</td>
        <td>{{ fila.12 }}</td>
        <td>{{ fila.13 }}</td>
        <td>{{ fila.14 }}</td>
        <td>{{ fila.15 }}</td>
        <td>{{ fila.16 }}</td>
        <td>{{ fila.17 }}</td>
        <td>{{ fila.18 }}</td>
        <td>{{ fila.19 }}</td>
        <td>{{ fila.20 }}</td>
        <td>{{ fila.21 }}</td>
        <td>{{ fila.22 }}</td>
        <td>{{ fila.23 }}</td>
        <td>{{ fila.24 }}</td>
        <td>{{ fila.25 }}</td>
        <td>{{ fila.26 }}</td>
        <td>{{ fila.27 }}</td>
        <td>{{ fila.28 }}</td>
        <td>{{ fila.29 }}</td>
        <td>{{ fila.30 }}</td>
        <td>{{ fila.31 }}</td>
        <td>{{ fila.32 }}</td>
        <td>{{ fila.33 }}</td>
        <td>{{ fila.34 }}</td>
        <td>{{ fila.35 }}</td>
        <td>{{ fila.36 }}</td>
        <td>{{ fila.37 }}</td>
        <td>{{ fila.38 }}</td>
        <td>{{ fila.39 }}</td>
        <td>{{ fila.40 }}</td>
        <td>{{ fila.41 }}</td>
        <td>{{ fila.42 }}</td>
        <td>{{ fila.43 }}</td>
        <td>{{ fila.44 }}</td>
        <td>{{ fila.45 }}</td>
        <td>{{ fila.46 }}</td>
        <td>{{ fila.47 }}</td>
        <td>{{ fila.48 }}</td>
        <td>{{ fila.49 }}</td>
        <td>{{ fila.50 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="row" style="padding-bottom: 20px; padding-top: 20px">
    <div id="chart_repartosimple" class="chart"></div>
  </div>
</div>

{% endblock %}
